source https://api.nuget.org/v3/index.json

framework: netcore3.1, netstandard2.0, netstandard2.1
storage:none

nuget Fable.FontAwesome.Free
nuget FSharp.Core
nuget Fable.Core
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR